<a href="https://colab.research.google.com/github/shemi024/data-preprocessing/blob/main/pandas_2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
df= pd.DataFrame(randn(5,4),index='A  B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.924915 -0.653625 -1.313657  0.684467
B  0.908001 -0.448103  1.767147  0.991389
C  1.223883 -0.270378  0.386978  0.194552
D -1.598291 -0.698300 -0.926103 -1.820264
E -1.125340  0.445303 -0.507844 -0.231688

In [ ]:
df['W']

A   -0.924915
B    0.908001
C    1.223883
D   -1.598291
E   -1.125340
Name: W, dtype: float64

In [ ]:
#pass a list of column names
df[['W','Z']]

          W         Z
A -0.924915  0.684467
B  0.908001  0.991389
C  1.223883  0.194552
D -1.598291 -1.820264
E -1.125340 -0.231688

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
#creating a new column

In [ ]:
df['new']=df['W'] + df['Y']
df

          W         X         Y         Z       new
A -0.924915 -0.653625 -1.313657  0.684467 -2.238572
B  0.908001 -0.448103  1.767147  0.991389  2.675148
C  1.223883 -0.270378  0.386978  0.194552  1.610861
D -1.598291 -0.698300 -0.926103 -1.820264 -2.524394
E -1.125340  0.445303 -0.507844 -0.231688 -1.633183

In [ ]:
#REMOVING COLUMN
df.drop('new',axis=1)

          W         X         Y         Z
A -0.924915 -0.653625 -1.313657  0.684467
B  0.908001 -0.448103  1.767147  0.991389
C  1.223883 -0.270378  0.386978  0.194552
D -1.598291 -0.698300 -0.926103 -1.820264
E -1.125340  0.445303 -0.507844 -0.231688

In [ ]:
df.drop('E',axis=0)

          W         X         Y         Z       new
A -0.924915 -0.653625 -1.313657  0.684467 -2.238572
B  0.908001 -0.448103  1.767147  0.991389  2.675148
C  1.223883 -0.270378  0.386978  0.194552  1.610861
D -1.598291 -0.698300 -0.926103 -1.820264 -2.524394

In [ ]:
#slecting rowa
df.loc['A']

W     -0.924915
X     -0.653625
Y     -1.313657
Z      0.684467
new   -2.238572
Name: A, dtype: float64

In [ ]:
#or selecting based off of position instead of label
df.iloc[2]

W      1.223883
X     -0.270378
Y      0.386978
Z      0.194552
new    1.610861
Name: C, dtype: float64

In [ ]:
#selecting subset of rows and columns
df.loc['B','Y']

1.767146792577616

In [ ]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.924915 -1.313657
B  0.908001  1.767147

In [ ]:
df>0

       W      X      Y      Z    new
A  False  False  False   True  False
B   True  False   True   True   True
C   True  False   True   True   True
D  False  False  False  False  False
E  False   True  False  False  False

In [ ]:
df[df>0]

          W         X         Y         Z       new
A       NaN       NaN       NaN  0.684467       NaN
B  0.908001       NaN  1.767147  0.991389  2.675148
C  1.223883       NaN  0.386978  0.194552  1.610861
D       NaN       NaN       NaN       NaN       NaN
E       NaN  0.445303       NaN       NaN       NaN

In [ ]:
df[df['W']>0]

          W         X         Y         Z       new
B  0.908001 -0.448103  1.767147  0.991389  2.675148
C  1.223883 -0.270378  0.386978  0.194552  1.610861

In [ ]:
df[df['W']>0]['Y']

B    1.767147
C    0.386978
Name: Y, dtype: float64

In [ ]:
df[df['W']>0][['Y','X']]

          Y         X
B  1.767147 -0.448103
C  0.386978 -0.270378

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z       new
B  0.908001 -0.448103  1.767147  0.991389  2.675148

In [ ]:
df

          W         X         Y         Z       new
A -0.924915 -0.653625 -1.313657  0.684467 -2.238572
B  0.908001 -0.448103  1.767147  0.991389  2.675148
C  1.223883 -0.270378  0.386978  0.194552  1.610861
D -1.598291 -0.698300 -0.926103 -1.820264 -2.524394
E -1.125340  0.445303 -0.507844 -0.231688 -1.633183

In [ ]:
#reset to defauly 0,1.....n index
df.reset_index()

  index         W         X         Y         Z       new
0     A -0.924915 -0.653625 -1.313657  0.684467 -2.238572
1     B  0.908001 -0.448103  1.767147  0.991389  2.675148
2     C  1.223883 -0.270378  0.386978  0.194552  1.610861
3     D -1.598291 -0.698300 -0.926103 -1.820264 -2.524394
4     E -1.125340  0.445303 -0.507844 -0.231688 -1.633183

In [ ]:
newind = 'CA NY WY OR TO'.split()
df['States']=newind
df

          W         X         Y         Z       new States
A -0.924915 -0.653625 -1.313657  0.684467 -2.238572     CA
B  0.908001 -0.448103  1.767147  0.991389  2.675148     NY
C  1.223883 -0.270378  0.386978  0.194552  1.610861     WY
D -1.598291 -0.698300 -0.926103 -1.820264 -2.524394     OR
E -1.125340  0.445303 -0.507844 -0.231688 -1.633183     TO

In [ ]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z       new
States
CA     -0.924915 -0.653625 -1.313657  0.684467 -2.238572
NY      0.908001 -0.448103  1.767147  0.991389  2.675148
WY      1.223883 -0.270378  0.386978  0.194552  1.610861
OR     -1.598291 -0.698300 -0.926103 -1.820264 -2.524394
TO     -1.125340  0.445303 -0.507844 -0.231688 -1.633183

In [ ]:
#multi index and index hieraechy
outside= ['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index =list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [ ]:
df

             A         B
G1 1  1.031767  1.585906
   2 -0.697628  2.725845
   3 -1.798709  1.469719
G2 1 -0.327268  1.861249
   2 -0.215635 -0.240304
   3 -0.724980  0.580163

In [ ]:
df.loc['G1']

          A         B
1  1.031767  1.585906
2 -0.697628  2.725845
3 -1.798709  1.469719

In [ ]:
df.loc['G1'].loc[1]

A    1.031767
B    1.585906
Name: 1, dtype: float64

In [ ]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1    1.031767  1.585906
      2   -0.697628  2.725845
      3   -1.798709  1.469719
G2    1   -0.327268  1.861249
      2   -0.215635 -0.240304
      3   -0.724980  0.580163

In [ ]:
df.xs('G1')

            A         B
Num
1    1.031767  1.585906
2   -0.697628  2.725845
3   -1.798709  1.469719

In [ ]:
df.xs(['G1',1])

A    1.031767
B    1.585906
Name: (G1, 1), dtype: float64

In [ ]:
df.xs(1,level='Num')

              A         B
Group
G1     1.031767  1.585906
G2    -0.327268  1.861249

In [ ]:
#creating series
label=['a','b','c']
my_list = [10,20,30]
arr=np.array([10,20,30])
d ={'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=label)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr,label)

a    10
b    20
c    30
dtype: int64

In [ ]:
#dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=label)

0    a
1    b
2    c
dtype: object

In [ ]:
ser1 = pd.Series([1,2,3,4],index=['USA','GERMANY','USSER','JAPAN'])
ser1

USA        1
GERMANY    2
USSER      3
JAPAN      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],index=['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [ ]:
ser1['USA']

1

In [ ]:
ser1 +ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSER      NaN
dtype: float64

In [ ]:
#MISSING DATA
df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.dropna(thresh=2)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [ ]:
#group by
data={'company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
      'PERSON':['sam','charlie','any','vanessa','carl','sarah'],
      'sales':[200,120,340,124,243,350]}
df =pd.DataFrame(data)
df

  company   PERSON  sales
0    GOOG      sam    200
1    GOOG  charlie    120
2    MSFT      any    340
3    MSFT  vanessa    124
4      FB     carl    243
5      FB    sarah    350

In [ ]:
df.groupby('company')

In [ ]:
#you can save this object as anew variable
by_comp =df.groupby("company")

In [ ]:
by_comp

In [ ]:
by_comp.mean()

         sales
company
FB       296.5
GOOG     160.0
MSFT     232.0

In [ ]:
df.groupby('company').mean()

         sales
company
FB       296.5
GOOG     160.0
MSFT     232.0

In [ ]:
by_comp.std()

              sales
company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [ ]:
by_comp.min()

          PERSON  sales
company
FB          carl    243
GOOG     charlie    120
MSFT         any    124

In [ ]:
by_comp.max()

          PERSON  sales
company
FB         sarah    350
GOOG         sam    200
MSFT     vanessa    340

In [ ]:
by_comp.count()

         PERSON  sales
company
FB            2      2
GOOG          2      2
MSFT          2      2

In [ ]:
by_comp.describe()

        sales
        count   mean         std    min     25%    50%     75%    max
company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
by_comp.describe().transpose()

company              FB        GOOG        MSFT
sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [ ]:
by_comp.describe().transpose()['GOOG']

sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

In [ ]:
#OPERATIONS
df=pd.DataFrame({'coll':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   coll  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
#select from Dataframe using criteria from multiple columns
newdf = df[(df['coll']>2) & (df['col2']==444)]
newdf

   coll  col2 col3
3     4   444  xyz

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col2'].sum()

2109

In [ ]:
df.columns

Index(['coll', 'col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df

   coll  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df.sort_values(by='col2')
#inplace=false by default

   coll  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [ ]:
df.isnull()

    coll   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
df.dropna()

   coll  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df=pd.DataFrame({'col1':[1,2,3,np.nan],
                 'col2':[np.nan,555,666,444],
                 'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [ ]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

In [ ]:
data ={'A':['foo','foo','foo','bar','bar','bar'],
       'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}
df=pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
df=pd.DataFrame(complex(6,5),index='A B C D E G '.split(),columns='W R Y S L'.split())
df

                    W  ...                   L
A  6.000000+5.000000j  ...  6.000000+5.000000j
B  6.000000+5.000000j  ...  6.000000+5.000000j
C  6.000000+5.000000j  ...  6.000000+5.000000j
D  6.000000+5.000000j  ...  6.000000+5.000000j
E  6.000000+5.000000j  ...  6.000000+5.000000j
G  6.000000+5.000000j  ...  6.000000+5.000000j

[6 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn


df=pd.DataFrame(randn(2,2),index='class1 class2'.split(),columns='M G'.split())
df

               M         G
class1  0.865271 -0.924289
class2 -0.341755 -0.461397